apiVersion: cps1.tech/v1alpha1
kind: CPS1Package
metadata:
  name: dotnet
spec:
  name: dotnet
  label: Microsoft .NET
  icon: dotnet.svg
  properties:
    - name: version
      label: Version
      tip: .NET version
      kind: select
      required: true
      values: ["9.0", "8.0"]
      default: "9.0"
  setupScript: |
    {{- .Files.Get "scripts/packages/dotnet.sh" | nindent 4 }}
